
<div class="card">
<div class="card-body">
<h5 class="card-title">Sign-in Form</h5>

 <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" action=""> 
<div class="mb-3">
  <label for="user" class="form-label">Username</label>
  <input type="text"
    class="form-control" formCoontrolName="username" name="user" aria-describedby="helpId"  >
    <div *ngIf="username.invalid && (username.dirty || username.touched)">
      <div *ngIf="username.errors.required" class="invalid-feedback" translate>
        Username is required.
      </div>
       <div *ngIf="username.errors.maxlength" class="invalid-feedback" translate>
        Maximum character length is 10
      </div>
    </div>
  </div>
<div class="mb-3">
  <label for="pwd" class="form-label">Password</label>
  <input type="password" formCoontrolName="password" class="form-control" name="pwd" >
</div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>  
</div>
</div>